body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.bg-brand {
  background-color: #7000ee;
}

.text-brand {
  color: #7000ee;
}

textarea {
  outline: none;
}

input {
  outline: none;
}

code {
  font-family: 'Inter', sans-serif;
}

.circle .image-wrap {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
  border-radius: 50em;
  height: 150px;
  width: 150px;
  object-fit:cover;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #7000ee;
}

::selection {
  color: white;
  background: #7000ee;
}

.hidden {
  display: none;
}